################################################################################
# Visual Studio / .NET
################################################################################

# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Logs
logs/
*.log

# Test results
TestResults/

# Rider / VS Code
.idea/
.vscode/

# OS files
Thumbs.db
.DS_Store
/DPP.InternalWebhookHost.Api/.config
/DPP.InternalWebhookHost.Api/Properties/PublishProfiles
/DPP.InternalWebhookHost.Api/bin.zip
