################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/DPP.InternalWebhookHost.Api/.vs
/DPP.InternalWebhookHost.Api/obj
/DPP.InternalWebhookHost.Api/bin


/DPP.InternalWebhookHost.Application/.vs
/DPP.InternalWebhookHost.Application/obj
/DPP.InternalWebhookHost.Application/bin

/DPP.InternalWebhookHost.Domain/.vs
/DPP.InternalWebhookHost.Domain/obj
/DPP.InternalWebhookHost.Domain/bin

/DPP.InternalWebhookHost.Infrastructure/.vs
/DPP.InternalWebhookHost.Infrastructure/obj
/DPP.InternalWebhookHost.Infrastructure/bin

/DPP.InternalWebhookHost.Test/.vs
/DPP.InternalWebhookHost.Test/obj
/DPP.InternalWebhookHost.Test/bin
